html { 
}

body {

}

html, body, #container, #map-content, #map-canvas{
	height: 100%;
	width: 100%;
	min-height: 700px;
	min-width: 905px;
	padding: 0px;
	margin: 0px;

}

h1 {
	font-size: 150%
}

#container{

}

#popup{
	position: absolute;
	min-height: 600px;
	min-width: 600px;
	margin: 50px;
	right: 250px;
}

#popup-hidden{
	display: none;
}

#popup-background{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.9;
	box-shadow: 0px 0px 20px #222;
}

#popup-content{
	position: absolute;
	height: 96%;
	width: 96%;
	margin: 2% 2%;

	color: #EEE;
}

#sidebar{
	min-height: 500px;
	width: 200px;
	margin: 50px;
	right: 0px;
	position: absolute;
	background-color: #FFF;
	box-shadow: 0px 0px 20px #222;
}

#sidebar-content{
	position: relative;
	width: 90%;
	height: 90%;
	padding: 5%
}

#map-content{
	position: relative;
	float:left;
}

#map-canvas{
}