<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">

    <!-- LINKEDIN -->
    <!-- PK: dwh6ycq1zy0l DK: o5zt0b5vq1cy -->
    <!--<script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: o5zt0b5vq1cy
      onLoad: onLinkedInLoad
      authorize: true
      lang: en_US
      scope: r_fullprofile
    </script> -->

    <!-- GMAPS -->
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDJhh3MykPv3bmFf50AnO4kzENetVNcRTo&sensor=false"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Angular -->
    <script type="text/javscript" src="../static/angular/angular.js"></script>

    <!-- Page script -->
    <script type="text/javascript" src ="../static/index.js"></script>

  </head>
  <body>
    <div class="row-fluid" id="main-content">
      <div class="span9" id="map-content">
        <div id="map_canvas"></div>
      </div>
        <div class="span3" id="toolbar-content">
          <h1>Where Is Systems?</h1>
          <button class="btn btn-block btn-primary" type="button">Get Started</button>
          <button class="btn btn-block" type="button">Login</button>
        </div>
      </div>
    </div>
  </body>
</html>