<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- LINKEDIN -->
    <!-- PK: dwh6ycq1zy0l DK: o5zt0b5vq1cy -->
    <!--<script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: o5zt0b5vq1cy
      onLoad: onLinkedInLoad
      authorize: true
      lang: en_US
      scope: r_fullprofile
    </script> -->

    <!-- GMAPS -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJhh3MykPv3bmFf50AnO4kzENetVNcRTo&sensor=false"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <!-- Angular -->
    <!-- <script type="text/javscript" src="../static/angular/angular.js"></script> -->

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"> -->
    <!-- <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script> -->

    <!-- Page script -->
    <script type="text/javascript" src="../static/index.js"></script>
    <!-- <script type="text/javascript" src="../static/popup.js"></script> -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/index.css">

  </head>

  <!-- Main Body -->
  <body>
    <div id="container">

      <div id="map-content">
        <div id="map-canvas"></div>
      </div>

      <div id="content">

        <div id="popup">
          <div id="popup-background"></div>
          <div id="popup-content">
            <h1>Welcome to Where Is Systems :)</h1>
            <p>We're trying to understand what Systems Design Engineering is all about. This is an attempt to visualize the movement of Systems Design Engineering talent since hte program's creation in 1968. By examining the shift in dimensions such as industry and location over time, we hope to understand how the demand for the 'Systems mindset' has developed and changed over time, and the impact that graduates have had on the world</p>
          </div>
        </div>

        <div id="sidebar">
          <div id="sidebar-content">
            <h1>Where is Systems?</h1>
            <p>One student's attempt to visualize the movement of Systems Design Engineering through time, space, and demand.</p>
            <div id="buttons">
              <button type="button" id="join-button" onclick="showPopup()">See popup</button>
              <button type="button" id="join-button" onclick="hidePopup()">Hide popup!</button>
            </div>
          </div>
        </div>

      </div>
